:root{
    --primary-color: #fff;
    --primary-bg:#1d1d1d;
    --primary-brand:#008080;
    --primary-brand-darker:#015757;
    --primary-gray:gray;
    --primary-gray-light:lightgray;
    --primary-gray-dark:#3f3f3f;
    --font-family: Arial, Helvetica, sans-serif;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
    color: var(--primary-color);
}


a {
    text-decoration: none;
}

section {
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--primary-bg);
}

section .circle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--primary-brand);
    clip-path: circle(70% at right -20%);
}


/* HEADER ---------------------------- */

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


header .logo {
    font-size: 2.8rem;
    position: relative;
    letter-spacing: 2px;
}

header .navigation{
    position: relative;
    display: flex;
}

header .navigation li{
    list-style: none;
}

header .navigation li a {
    display: inline-block;
    color: #fff;
    font-weight: 500;
    text-decoration: none;
    margin-left: 40px;
    transition: all 0.3s ease;
    letter-spacing: 1.5px;
    font-size: 16px;
}

header .navigation li a:hover {
    color: black;
}

.content {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.content .textBox {
    position: relative;
    max-width: 550px;
    margin-right: 20px;
}

.content .textBox h2{
    color: #fff;
    font-size: 3rem;
    margin-bottom: 2rem;
    line-height: 1.4rem;
    font-size: 700;
}

.content .textBox p{
    line-height: 2;
}

.content .textBox a {
    display: inline-block;
    margin-top: 20px;
    padding: 8px 20px;
    background: var(--primary-brand);
    color: var(--primary-color);
    border-radius: 40px;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-weight: 600;
}

.content .textBox a:hover{
    color: var(--primary-color);
    background: var(--primary-brand-darker);
    transform: translateX(4px);

}

/* SOCIAL MEDIA */
.socialMedia{
    color: #fff;
    position: absolute;
    bottom: 40px;
    left: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.socialMedia li a{
    display: inline-block;
    margin-left: 15px;
    background: var(--primary-gray-dark);
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: 0.2s ease-in-out;
}

.socialMedia li a:hover {
    background: var(--primary-brand);
    transform: translateY(-10px);
}

/* SWIPER.JS -------------------------------- */
.swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 180px;
    height: 460px;
    display: flex;
    justify-content: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
  }

  .swiper-slide img{
      position: absolute;
      bottom: 0;
      max-height: 100%;
  }

  .swiper-3d .swiper-slide-shadow-right,
  .swiper-3d .swiper-slide-shadow-left{
      background-image: none;
  }


  /* SWIPER.JS */

  .content .imgBox {
      width: 500px;
      display: flex;
      justify-content: flex-end;
  }

  .content .imgBox img {
      max-width: 150px;
  }

 /* MEDIA QUERIES */
@media (max-width: 1280px) {
    .content .textBox{
        max-width: 500px;
    }
}


 @media (max-width: 992px) {
     header{
         padding: 40px;
     }
     section {
        padding: 150px 40px;
    }
    .socialMedia{
        left: 40px;
    }
    .content{
       flex-direction: column; 
    }

    .content .textBox h2{
        line-height: 4rem;
        margin-bottom: 1rem;
    }

    .content .textBox p{
        line-height: 1.8;
    }

    .content .textBox,
    .content .imgBox {
        max-width: 100%;
    }

    .content .textBox{
        max-width: 800px;
    }

    .swiper-slide {
        height: 440px;
      }

    header .navigation {
        display: none;
        transition: all 0.3s ease;
    }

    header .navigation.active{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: var(--primary-brand);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 10;
    }

    header .navigation li a {
        margin: 20px 0;
        font-size: 1.5rem;
        font-weight: 300;
        transition: all 0.3s ease;
    } 

    header .navigation li a:hover{
        color: black;
    }

    

    .toggle {
        z-index: 10000;
        cursor: pointer;
        width: 30px;
        height: 30px;
        position: relative;
        background: url("./images/menu.png");
        background-size: 30px;
        background-repeat: no-repeat;
        background-position: center;
        transition: all 0.3s ease;
    }

    .toggle.active{
        position: fixed;
        right: 40px;
        background: url("./images/close.png");
        background-size: 25px;
        background-repeat: no-repeat;
        background-position: center;
    }
 }

 @media (min-width: 576px) {
    .content .textBox h2{
        font-size: 2.5rem;
    }
 }